

/* Colors */
$background: #ECECEC;
$gray_dark: #414141;
$gray_title: #6b6b6b;
$gray_med: #848484;
$gray_light: #979797;
$primary_blue: #0027A4;

$chart_color1: #AED9DA;
$chart_color2: #3DDAD7;
$chart_color3: #2A93D5;
$chart_color4: #135589;
$chart_color5: #57E299;

$bar_color: #2A93D5;


/* IMG sizing */
$icon-width: 1.5em;
