
@import './partials/base';

body, #react-app-root {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $gray_dark;
  background-color: $background;
}

.container {
  height: calc(100vh - 110px);
  margin: auto;
  margin-top: 50px;
  width: 75%;
}

a {
  color: $gray_dark;
  text-decoration: none;
}


.footer-container {
  text-align: center;
  width: 70%;
  margin: 7em auto 3em auto;

  em {
    font-family: "Times New Roman", Times, serif;
  }
}


@media screen and (max-width: 900px) {
  .footer-container {
    width: 100%;
  }
}
