
@import './partials/base';

/* Minimal CSS Reset Rules */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: $background;
}


#react-app-root {
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $gray_dark;
}

.container {
  margin: auto;
  margin-top: 30px;
  width: 75%;
}

a {
  color: $gray_dark;
  text-decoration: none;
}

em {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.footer-container {
  text-align: center;
  width: 70%;
  margin: 7em auto 3em auto;
}

.global-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .nav-links {
    display: inline-block;
  }

  img {
    width: 200px;
    flex-shrink: 0;
  }

  ul {
    padding: 0;
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;

    .dropdown {
      padding: 0 60px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        display: block;

        &:hover {
          background-color: #ddd;
        }
      }
    }

    &:hover {
      cursor: pointer;
      transition: 0.5s;

      .dropdown-content {
        display: block;
      }
    }
  }

  .vertical-divider {
    display: inline-block;
    background-color: $gray_light;
    width: 1px;
    height: 25px;
  }

}


@media screen and (max-width: 900px) {
  .footer-container {
    width: 100%;
  }

  .landing-nav {
    ul {
      justify-content: space-around;
      li {
        .dropdown {
          padding: 15px 1em;
        }
      }
    }
  }
}
