
@import '../partials/base';

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 0 1em 0;

  -webkit-box-shadow: 0 8px 6px -6px $gray_light;
	   -moz-box-shadow: 0 8px 6px -6px $gray_light;
	        box-shadow: 0 8px 6px -6px $gray_light;

  h1 {
    color: black;
    font-family: "Arial Black", sans-serif;
    font-size: 3em;
    margin: 0;
    margin-right: 20px;
  }

  img {
    width: $icon-width;
  }
}

.subtitle {
  color: $gray_med;
  font-family: Arial, sans-serif;
  font-weight: bolder;
}

.block-grid {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: minmax(min-content, 400px) minmax(min-content, 10px);
  grid-gap: 40px 40px;
  width: 100%;
}

.one {
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 10px;
  min-width: 0;
}

.two {
  grid-column: 1;
  grid-row: 2;
  padding: 8px;
  min-width: 0;
}

.three {
  grid-column: 2;
  grid-row: 2;
  padding: 8px;
  min-width: 0;
}

.report-item {
  background-color: white;
  -moz-box-shadow:    2px 2px 3px 1px $gray_light;
  -webkit-box-shadow: 2px 2px 3px 1px $gray_light;
  box-shadow:         2px 2px 3px 1px $gray_light;
}

.linechart-container {
  width: 100%;
  height: 100%;
}

.status-container {
  width: 100%;
}

.chart-title {
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bolder;
  color: $gray_title;
  text-align: center;
}

.legend-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  .legend-color {
    padding: 8px;
    margin-right: 10px;
  }

  .legend-label {
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
  }
}

.color1 {
  background-color: $chart_color1;
}

.color2 {
  background-color: $chart_color2;
}

.color3 {
  background-color: $chart_color3;
}

.color4 {
  background-color: $chart_color4;
}

.color5 {
  background-color: $chart_color5;
}

div:focus {
  background-color: white;
  border-bottom: 5px solid #57E299;
}

@media screen and (max-width: 900px) {
  .block-grid {
    grid-gap: 0;
  }

}
