
.classifications-container {
  height: 100%;
  position: relative;

  .chart-legend-container {
    padding-top: 20px;
    position: relative;

    .chart-container {
      width: 30%;
      display: inline-block;
    }

    .custom-legend {
      width: 70%;
      display: inline-block;
      padding-left: 10px;
    }
  }
}
