
@import '../partials/base';

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 0 1em 0;

  -webkit-box-shadow: 0 8px 6px -6px $gray_light;
	   -moz-box-shadow: 0 8px 6px -6px $gray_light;
	        box-shadow: 0 8px 6px -6px $gray_light;

  h1 {
    color: black;
    font-family: "Arial Black", sans-serif;
    font-size: 3em;
    margin: 0;
    margin-right: 20px;
  }

  img {
    width: $icon-width;
  }
}

.subtitle {
  color: $gray_med;
  font-family: Arial, sans-serif;
  font-weight: bolder;
}

.notice-container {
  text-align: center;
  width: 75%;
  margin: 2em auto;
}

.notice {
  display: block;
  margin-top: 15px;
}

.block-grid {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1.5fr 1fr 4fr;
  grid-gap: 50px 50px;
  width: 100%;
}

.one {
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 20px;
  min-width: 0;
}

.two {
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
  min-width: 0;
}

.three {
  grid-column: 2;
  grid-row: 2;
  padding: 10px;
  min-width: 0;
}

.four {
  grid-column: 1 / 3;
  grid-row: 3;
  background-color: red;
  min-width: 0;
}

.report-item {
  background-color: white;
  -moz-box-shadow:    2px 2px 3px 1px $gray_light;
  -webkit-box-shadow: 2px 2px 3px 1px $gray_light;
  box-shadow:         2px 2px 3px 1px $gray_light;
}

.linechart-container {
  width: 100%;
}

.seriousness-container {
  width: 100%;
}

.source-container {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .block-grid {
    grid-gap: 0;
  }

}
