
@import '../partials/base';

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  .tab {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #D8D8D8;

    &:nth-child(1), &:nth-child(2) {
      border-right: 1.5px solid #c6c6c6;
    }

    &.selected {
      background-color: white;
      border-top: 5px solid $chart_color5;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.record-container {

  padding: 0 70px 70px 70px;

  .description {
    margin: 55px 0;
  }

  .record {
    margin-top: 30px;

    .record-label {
      font-family: Arial, sans-serif;
      font-weight: bold;
    }

    .record-amt {
      padding-left: 20px;
      color: $gray_light;
    }

    .count-bar {
      background-color: $bar_color;
      height: 7px;
      border-radius: 16px;
      margin-top: 10px;
      max-width: 100%;
      transform: translateZ(0px);
      transition: width 0.35s ease-in-out 0s;
      transition-property: width;
      transition-duration: 0.35s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
    }
  }
}
