
.seriousness-container {
  height: 100%;

  .chart-legend-container {
    padding-top: 10px;

    .chart-container {
      width: 60%;
      display: inline-block;
      z-index: 1;
    }

    .custom-legend {
      display: inline-block;
      width: 40%;
      font-weight: 300;
    }
  }
}


@media screen and (max-width: 700px) {

  .seriousness-container {
    .chart-legend-container {
      .chart-container {
        width: 50%;
      }
      .custom-legend {
        .legend-label {
          font-size: 10px;
        }
      }
    }
  }
}
